<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/index.js"></script>
</head>
<body>
    <h1>Hotel</h1>
    <form>
        <label for="input-nombre">Nombre:</label>
        <input type="text" id="input-nombre">
        <br><br>

        <label for="select-estrellas">Estrellas:</label>
        <select id="select-estrellas">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br><br>

        <label for="input-foto">Foto:</label>
        <input type="file" id="input-foto" accept="image/png, image/jpeg">
        <br><br>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>